@use "./partials/variables.scss" as *;
@import "~bootstrap/scss/bootstrap";

$fa-font-path: "..fonts/webfonts" !default;
@import "@fortawesome/fontawesome-free/css/all.css";




#dish-index {
    img {
        width: 100px;
    }
}

#dish-show {
    .height-overflow {
        height: 500px;

        .img-table {

            width: 50px;
        }

    }

    .img-show-category {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
}


//barra di scorrimento orizzontale

.row.overflow-auto::-webkit-scrollbar {
    height: 8px;
}

.row.overflow-auto::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.row.overflow-auto::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

.row.overflow-auto::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

//barra di scorrimento verticale

.height-overflow::-webkit-scrollbar {
    width: 8px;
}

.height-overflow::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.height-overflow::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

.height-overflow::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}




body {
    overflow-x: hidden;
    word-wrap: break-word;
}

aside {
    width: $sidebar_width;
    height: 100vh;
    overflow-y: auto;
    background-color: $sidebar_color;
    color: white;
    transition: width $transition_time;

    .logo-container {
        height: $topbar_height;
        min-height: $topbar_height;
        display: flex;
        align-items: center;
        padding-left: 1rem;
        border-bottom: 1px solid black;

        img {
            width: 80%;
            filter: brightness(0) saturate(100%) invert(98%) sepia(4%) saturate(4%) hue-rotate(356deg) brightness(105%) contrast(100%);

            @media screen and (min-width: 768px) {
                width: 120px;
            }
        }
    }

    a {
        color: white;
        text-decoration: none;
    }

    i {
        font-size: $sidebar_icon_size;
    }

    .sidebar-item {
        padding: $sidebar_item_py 0;
        border-bottom: 1px solid black;
        transition: background-color $transition_time;

        &:hover {
            background-color: $sidebar_item_hover_color;
        }
    }

    .drop-menu {
        height: 0;
        overflow: hidden;
        transition: height $transition_time;
    }

    .drop-menu-grow {
        height: 100%;
    }

    .drop-item {
        padding: $sidebar_item_py 2rem;
        border-bottom: 1px solid black;
        background-color: $sidebar_drop_item_color;
        transition: background-color $transition_time;

        &:hover {
            background-color: $sidebar_drop_item_hover_color;
        }
    }

    .drop-size {
        font-size: $sidebar_drop_arrow_size;
    }

    .sidebar-resizer {
        width: 35px;
        height: 35px;
        min-width: 35px;
        min-height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        margin-top: auto;
        margin-bottom: 1.5rem;
        border: 1px solid grey;
        border-radius: 50%;
        transition: transform $transition_time;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
        }

        i {
            font-size: 1.1rem;
        }

        @media screen and (min-width: 768px) {
            display: none;
        }
    }

    //Sidebar media query
    @media screen and (min-width: 768px) {
        width: $sidebar_width_md;
    }
}

.sidebar-resized {
    width: $sidebar_width_md;
}

.topbar-resized,
.main-resized {
    width: calc(100vw - $sidebar_width_md);
}

header {
    width: calc(100vw - $sidebar_width);
    height: $topbar_height;
    background: $topbar_background;
    padding: 10px 40px;
    color: white;
    transition: width $transition_time;

    @media screen and (min-width: 768px) {
        width: calc(100vw - $sidebar_width_md);
    }
}

main {
    position: relative;
    width: calc(100vw - $sidebar_width);
    height: calc(100vh - $topbar_height);
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1.5rem;
    word-wrap: break-word;
    transition: width $transition_time;

    @media screen and (min-width: 768px) {
        width: calc(100vw - $sidebar_width_md);
    }
}

.cursor-pointer {
    cursor: pointer;
}

.al-menu {
    // transform-origin: top right;
    transform: scale(0);
    position: absolute;
    right: 0;
    // transition: transform 200ms;
    border-radius: 5px;
    border: 1px solid grey;
    background-color: white;
    z-index: 100;
}

.al-menu-item {
    display: block;
    white-space: nowrap;
    background-color: white;
    padding: 10px 55px 10px 18px;
    cursor: pointer;
    transition: background-color 200ms;
    border-radius: 5px;
    z-index: 10;
    color: black;
    text-decoration: none;

    a {
        color: black;
    }
}

.al-menu-item:hover {
    background-color: lightgray;
}

.al-menu-visible {
    transform: scale(1);
}

.item-expandable {
    position: relative;
}

.item-collapse {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%) scale(0);
    transition: transform $transition_time;
    transform-origin: top right;
    background-color: white;
    border-radius: 5px;
    border: 1px solid black;
}

.al-menu-item.item-expandable:hover .item-collapse {
    transform: translateX(-100%) scale(100%);
}

.card {
    background-color: $light_grey;
}

.order_rectangle {
    background-color: $rectangle_bg;
    cursor: pointer;
    transition: background-color 1s ease-in;
}

.order_rectangle:hover {
    background-color: $rectangle_hover;
    transition: background-color 0.5s ease-in;
}

.table {
    cursor: pointer;

    thead tr th {
        background-color: $rectangle_bg;
    }

    tbody tr th,
    td {
        background-color: $light_grey;
    }
}

@media (min-width: 576px) {
    .order_rectangle {
        height: 23rem;
    }

    .order_num,
    .order_customer,
    .order_date {
        font-size: 12px;
    }
}

@media (min-width: 611px) {
    .order_rectangle {
        height: 18rem;
    }

    .dashboard-chart {
        width: 100%;
        height: 200px;
        box-shadow: $box_shadow_color;

        @media screen and (min-width: 576px) {
            height: 250px;
        }

        @media screen and (min-width: 768px) {
            height: 300px;
        }

        @media screen and (min-width: 992px) {
            height: 300px;
        }

        @media screen and (min-width: 1200px) {
            height: 350px;
        }

        @media screen and (min-width: 1400px) {
            height: 450px;
        }

        @media screen and (min-width: 1400px) {
            height: 350px;
        }
    }

    #loader {
        display: none;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }
}

.card {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;

    .card-header {
        background: $form_header_background;
        text-align: center;
        padding: 10px;
        color: white;
    }

    .card-body {
        background-color: #FFFFFF;
        padding: 40px;
    }

    .btn-form {
        background-color: #FF9141;
        padding: 6px 10px;
        border-radius: 10px;
        border: none;
        color: white;
    }
}

.dashboard-card {
    border-radius: 5px;
    color: white;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: transform $transition_time;

    i {
        font-size: 2.5rem;
    }

    &:hover {
        transform: scale(1.05);
    }

    @media screen and (max-width: 576px) {
        h3 {
            font-size: 20px;
        }

        h4 {
            font-size: 16px;
        }

        i {
            font-size: 1.8rem;
        }
    }
}

.first-dashboard-card {
    background: $dashboard_first_card_background;
}

.second-dashboard-card {
    background: $dashboard_second_card_background;
}

.third-dashboard-card {
    background: $dashboard_third_card_background;
}

.fourth-dashboard-card {
    background: $dashboard_fourth_card_background;
}

.changeable {
    position: relative;

    .section-1,
    .section-2 {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transition: opacity $transition_time;
    }

    .section-1 {
        opacity: 1;
    }

    .section-2 {
        opacity: 0;
    }

    .section-height {
        visibility: hidden;
    }

    &:hover {
        .section-1 {
            opacity: 0;
        }

        .section-2 {
            opacity: 1;
            border-radius: 5px;
            z-index: 100;

            .col-6 {
                border-radius: 5px;
                transition: background-color $transition_time;
            }

            .col-6:hover {
                background-color: rgba(255, 255, 255, 0.2);
            }
        }
    }

    a {
        color: white;
        text-decoration: none;
    }
}

.al-confirm {
    min-width: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: lightgrey;
    color: black;
    padding: 2rem;
    border: 3px groove grey;
    border-radius: 6px;
    text-align: center;
    z-index: 1000;
}

.al-round {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: transform 300ms;
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
    }

    i {
        font-size: 1.4rem;

    }
}

.al-green {
    color: rgb(0, 160, 0);
    border: 1px solid rgb(0, 160, 0);
}

.al-red {
    color: rgb(255, 58, 58);
    border: 1px solid rgb(255, 58, 58);
}

.al-mex {
    display: flex;
    align-items: center;
    background-color: lightgreen;
    color: black;
    border: none;
    border-radius: 4px;
    padding: 0 1rem;
    margin-bottom: 0;
    height: 0;
    overflow: hidden;
    animation: scale-disappear 6s linear;
}

@keyframes scale-disappear {
    from {
        height: 60px;
        border: 1px solid black;
        margin-bottom: 1rem;
    }

    80% {
        height: 60px;
        border: 1px solid black;
        margin-bottom: 1rem;
    }

    to {
        height: 0;
        border: none;
        margin-bottom: 0;
    }
}

.centered-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: $box_shadow_color;
    padding: 4rem;
    border: 1px solid lightgrey;
}

.asterisk-opacity {
    opacity: 0.5;
    font-size: 0.8;
}

.custom-w {
    width: 100%;

    @media screen and (min-width: 576px) {
        width: 75%;
    }

    @media screen and (min-width: 768px) {
        width: 50%;
    }
}

.img-fill {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
    background-color: white;
}

.img-container {
    position: relative;
    width: 100%;
    height: 200px;
    box-shadow: $box_shadow_color;
    border: 4px groove grey;
    transition: transform $transition_time;

    &:hover {
        transform: scale(1.07);
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: transparent;
        opacity: 0.35;
        transition: background-color $transition_time;
    }

    &:hover::before {
        background-color: black;
    }

    &:hover .trash-icon {
        color: white;
    }

    .trash-icon {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 2rem;
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: transparent;
        font-size: 1.4rem;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 5px;

        i {
            transition: all $transition_time;
        }

        &:hover i {
            transform: scale(1.2);
            color: rgb(255, 123, 123);
        }
    }

    @media screen and (min-width: 768px) {
        height: 150px;
    }

    @media screen and (min-width: 1400px) {
        height: 200px;
    }
}

.box-shadow {
    box-shadow: $box_shadow_color;
}

.trash-button {
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
    transition: all $transition_time;

    i {
        font-size: 1.5rem;
        transition: transform $transition_time;
    }

    &:hover {
        background-color: rgb(255, 131, 131);
        box-shadow: $box_shadow_color;

        i {
            transform: scale(1.3);
        }
    }
}

.plus-button {
    display: block;
    width: 4.5rem;
    height: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
    background-color: greenyellow;
    color: black;
    text-decoration: none;
    box-shadow: $box_shadow_color;
    transition: background-color $transition_time;

    i {
        font-size: 2.5rem;
    }

    &:hover {
        background-color: rgb(209, 255, 140);
    }
}