//Sizes
$topbar_height: 70px;
$sidebar_width: 75px;
$sidebar_width_md: 210px;
$sidebar_icon_size: 1.2rem;
$sidebar_drop_arrow_size: 0.75rem;

//Colors
$sidebar_color: #272c2f;
$sidebar_item_hover_color: #3d4042;
$sidebar_drop_item_color: #3b4145;
$sidebar_drop_item_hover_color: #474c50;

//Paddings
$sidebar_item_py: 0.7rem;