//Sizes
$topbar_height: 70px;
$sidebar_width: 75px;
$sidebar_width_md: 210px;
$sidebar_icon_size: 1.2rem;
$sidebar_drop_arrow_size: 0.75rem;

//Colors
$sidebar_color: #272c2f;
$sidebar_item_hover_color: #3d4042;
$sidebar_drop_item_color: #3b4145;
$sidebar_drop_item_hover_color: #474c50;
$topbar_background: linear-gradient(90deg, rgba(220, 24, 90, 1) 0%, rgba(244, 45, 74, 1) 30%, rgba(248, 70, 44, 1) 60%, rgba(251, 84, 26, 1) 85%, rgba(254, 102, 3, 1) 100%);
$dashboard_first_card_background: linear-gradient(90deg, rgba(19,229,216,1) 0%, rgba(47,195,222,1) 33%, rgba(68,161,227,1) 66%, rgba(92,121,233,1) 100%);
$dashboard_second_card_background: linear-gradient(90deg, rgba(245,79,160,1) 0%, rgba(247,86,150,1) 33%, rgba(250,98,139,1) 66%, rgba(254,115,120,1) 100%);
$dashboard_third_card_background: linear-gradient(90deg, rgba(65,227,150,1) 0%, rgba(64,216,156,1) 33%, rgba(62,201,167,1) 66%, rgba(60,191,174,1) 100%);
$dashboard_fourth_card_background: linear-gradient(90deg, rgba(255,219,61,1) 0%, rgba(255,199,70,1) 15%, rgba(255,172,77,1) 40%, rgba(255,133,88,1) 100%);

//Paddings
$sidebar_item_py: 0.7rem;

// admin.orders.index
$rectangle_bg: #fe6406;
$rectangle_hover: #ff8f5e;
$light_grey: #f5f5f5;

//Transitions
$transition_time: 300ms;